.markdown-content h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #70aadb; /* Example color */
}

.markdown-content h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #70db99; /* Example color */
}

.markdown-content h3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffb27a; /* Example color */
}

.markdown-content h4 {
  font-size: 1.125rem;
  font-weight: bold;
  color: #b99ef0; /* Example color */
}

.markdown-content h5 {
  font-size: 1rem;
  font-weight: bold;
  color: #f0989a; /* Example color */
}

.markdown-content h6 {
  font-size: 0.875rem;
  font-weight: bold;
  color: #7adde2; /* Example color */
}

.markdown-content hr {
  border: none;
  height: 1px;
  background-color: #e0e0e0; /* Example color */
}

.markdown-content ol {
  list-style-type: decimal; /* Style for ordered lists (numbers) */
  margin-left: 1.5rem; /* Adjust as needed */
  list-style-position: inside; /* Place the list marker inside the list item */
}

.markdown-content ul {
  margin-left: 1.5rem; /* Adjust as needed */
  list-style-position: inside; /* Place the list marker inside the list item */
  list-style-type: disc; /* Style for unordered lists (bullets) */
}

.markdown-content pre {
  font-size: 0.875rem;
  font-weight: bold;
  color: #7adde2; /* Example color */
  background-color: #f0f0f0; /* Example background color */
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

.markdown-content code {
  font-size: 0.875rem;
  font-weight: bold;
  color: #7adde2; /* Example color */
  background-color: #f0f0f0; /* Example background color */
  padding: 2px 4px;
  border-radius: 3px;
}
